:root {
    --margin: 3px;
    --tech-font-size: 14px;
}

.projectsContainer {
    display: none;
}

.group {
    margin-bottom: 20px;
}

.projectURL {
    margin-top: var(--margin);
}

.techUsed {
    margin-top: var(--margin);
    font-style: italic;
    font-size: var(--tech-font-size);
}