:root {
    --topMargin: 5px;
    --spaceMargin: 20px;

    --usedTech-font-size: 14px;
}

.projectsWrapper {
    display: none;
}

.projectHeader {
    padding-bottom: 0;
}

h2.projectHeader {
    margin-top: 40px;
}

.minorProjectsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    text-align: center; 
    column-gap: var(--spaceMargin);
    row-gap: var(--spaceMargin);
    margin-right: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.majorProjectsContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    text-align: center; 
    column-gap: var(--spaceMargin);
    row-gap: var(--spaceMargin);
    margin-right: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.majorProjectsContainer .projectName {
    font-weight: bold;
}

.majorProjectsContainer .description {
    font-size: 16px;
}

.project {
    padding: 15px;
    background-color: #e9dcdc;
    border-radius: 8px;
}

.projectURL {
    margin-top: var(--topMargin);
}

.techUsed {
    font-style: italic;
    font-size: var(--usedTech-font-size);
    margin-top: var(--topMargin);
}

.description {
    margin-top: var(--topMargin);
    font-size: 14px;
}