/* GENERAL */
html {
  font-family: helvetica;
  width: auto;
  background-color: #7ca8cc;
}

/* HEADER */
header {
  margin: 0;
  padding: 15px;
  background-color: #a5484d;
  text-align: center;
  width: auto;
  color: #dce0ac;
  padding-bottom: 15px;
}
.profilePicture {
  max-width: 150px;
}

/* CONTENT */
main {
  margin-left: 30px;
}
h1 {
  padding: 10px 0 10px 0;
}
.navbar {
  margin: 0 auto;
  text-align: center;
  width: auto;
}
.link {
  display: inline-block;
  margin: 0 20px;
  padding: 20px 0 10px 0;
  font-size: 22px;
  color: #323844;
  font-weight: bold;
  text-decoration: none;
}

