html {
  font-family: helvetica;
  background-color: #6a8cc1;
  width: auto;
}

header {
  background-color: #a5484d;
  text-align: center;
  width: auto;;
	color: #dce0ac;
	padding-bottom: 15px;
}

h1{
	padding: 30px 0 40px 0;
}
 

ul{
  margin: 0 auto;
  text-align: center;
  width: auto;
}

li {
  display: inline-block;
  margin: 0 20px 0 20px;
  font-size: 18px;
  border: 1px solid #000000;
  padding: 5px;
  background-color: #323844;
  color: white;
  font-weight: 100;
  border-radius: 10px;
}
.introText {
  margin-left: 30px;

}